.container {
    /* border: 3px solid #2F5FAC; */
    width: 100vw;
    display: flex;
    background: var(--gray-100, #F6F7FC);
}

.course-bar {
    /* border: 2px solid red; */
    width: 80vw;
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background-color: white;
}

.search-box {
    width: 320px;
    height: 48px;
    padding: 12px 16px;
    /* background-image: url('../images/imagesCourseList/search.svg');
    background-repeat: no-repeat;
    background-position: 10px center; */
    padding-left: 40px;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #CCD0D7);
    background: #FFF url('../images/imagesCourse/search.svg') no-repeat 10px center;
}

.add-course-button {
    cursor: pointer;
    width: 172px;
    height: 60px;
    display: flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--blue-500, #2F5FAC);
    margin-left: 16px;
    border: none;
}

.course-box {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 40px 139px 40px;
}

.course-head-table {
    /* border: 2px solid green; */
    background: var(--gray-400, #D6D9E4);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.head {
    display: flex;
    padding: 10px 16px;
    color: var(--gray-800, #424C6B);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.course-list {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 33px;
    background-color: white;
    margin-bottom: 1px;
}

.id {
    /* border: 2px solid #2F5FAC; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    display: flex;
    justify-content: flex-start;
    width: 64px;
    /* border: 2px solid #2F5FAC; */
}

.course-name {
    /* border: 2px solid #2F5FAC; */
    display: flex;
    width: 236px;
    padding-left: 5px;
}

.lesson {
    width:  73px;
    padding-left: 16px;
}

.price {
    width: 73px;
}

.createddate {
    width: 156px;
}

.updateddate {
    width: 158px;
}

.action {
    /* border: 2px solid #2F5FAC; */
    display: flex;
    gap: 17px;
}

.last-item {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}