body {
  font-family: Inter, sans-serif;
}
h1 {
  font-family: 'Inter';
  font-size: 66px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -1.32%;
}

h2 {
  font-family: 'Inter';
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.72px;
}

h3 {
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: -0.48px;
}

.cf-body-1 {
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.cf-body-2 {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.cf-body-3 {
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.cf-body-4 {
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header{
  color: var(--utility-black, #000);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

label {
  font-size: 1rem;
}