.course-viewer {
  margin: 0 auto;
  max-width: 1120px;
  margin-top: 70px;
  margin-bottom: 150px;
}

.course-viewer-sidebar {
  padding: 24px;
  max-height: 1000px;
  min-height: 600px;
  overflow-y: scroll;;
}

.course-intro-container {
  margin: 24px 0;
}

.course-title {
  font-weight: 500;
}

.course-summary {
  margin-top: 8px;
  color: #646D89;
}

.accordion {
  margin-top: 34px;
}

.accordion-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.accordion-lesson-title {
  margin-left: 24px;
  font-weight: 400;
}



.greeting-box {
  background-color: #ECF3FC;
  width: 100%;
  height: 800px;
}