.big-vector-position {
  position: absolute;
  right: 0px;
  top: -88px;
}

.medium-ellipse-position {
  position: absolute;
  left: 87px;
  top: 81px;
}

.small-ellipse-position {
  position: absolute;
  right: 59px;
  top: 589px;
}

.plus-position {
  position: absolute;
  left: 187px;
  top: 283px;
}

.circle-position {
  position: absolute;
  left: 0px;
  top: 420px;
}