.course-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
  width: 357px;
  gap: 24px;
  cursor: pointer;
}

.img-course-card {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.text-course-card {
  padding-left: 16px;
  height: 150px;
}

.footer-course-card {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 24px;
  border-top: 1px solid #E4E6ED;
}

.detail-footer-course-card {
  display: flex;
  align-items: center;
  color: #646D89;
  gap: 8px;
}